spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/spring
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true


  servelet:
    multipart:
      max-request-size: 10MB
      max-file-size: 1MB
  cache:
    type: simple




springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - env
          - beans
          - mappings
          - loggers
  endpoint:
    health:
      show-details: always

